/* Main styles */
*, *::after, *::before{
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.3rem;
}

body{
    background: linear-gradient(to right, #9803fc, #0384fc);
}

/* Converter styles */
.content{
    display: flex;

    margin: 0 auto;
    max-width: 1200px;
    height: 100vh;

    justify-content: space-around;
    align-items: center;
}

.section{
    display: grid;
    grid-gap: 5px;
    grid-template-rows:  repeat(2, minmax(6vh, auto));
    grid-template-columns: repeat(6, 6vh);
}

.section > *{
    border: white solid 1px;
    height: 6vh;
}

.display{
    background-color: rgba(0, 0, 0, 0.5);

    grid-column: 1/-1;
    padding-left: 8px;

    outline: none;
    color: white;

    font-family: 'Roboto', 'sans-serif';
}

/* Button styles */
div > button{
    background-color: rgb(255, 255, 255, 0.5);
    transition: all linear 0.3s;

    outline: none;
    cursor: pointer;

    width: 6vh;
    text-align: center;
}

div > button:hover{
    background-color: white;
}

.checked{
    background-color: white;
}

/* Media tags */
@media screen and (max-device-width: 740px) {
    .content{
        flex-direction: column;
        padding: 200px 0;
    }
}